.footer__column-link {
  text-decoration: none;
  color: white;
  opacity: 1;
  transition: opacity 1s linear 0s;
}

.footer__column-link:hover {
  opacity: 0.6;
  transition: opacity 1s linear 0s;
}
